<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WordPress Template</title>
  <link rel="stylesheet" href="./vendor/css/all.min.css">
  <link rel="stylesheet" href="./assets/main.css">
</head>
<body>
  <!--========= Header Area start ==========-->
  <header>
    <h1>Hello World!</h1>
  </header>
  <!--========= Header Area end ==========-->

  <!--========= main site area start ==========-->
  <main>

  </main>
  <!--========= main site area end ==========-->

  <!--========= footer area start ==========-->
  <footer>

  </footer>
  <!--========= footer area end ==========-->

  <!--========= include jquery script file ==========-->
  <script src="./vendor/js/jquery.js"></script>
  <!--========= custom js file ==========-->
  <script src="./assets/js/script.js"></script>
</body>
</html>